.container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    min-height: 100%;
}
.chartAndTable {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    flex: 1 0 auto;
}

.chartAndTable-table {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-content: center;
}

.app-form {
    padding: 2px;
    display: flex;
    justify-content: center;
    flex: 0 0 30px;
}

.app-buttonSearch {
    background-color: #FE7800;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    border: solid 1px #1E1E1E;
    color: white;
    margin: 0;
}

.app-buttonSearch:hover {
    background-color: #FE7800;
    border: solid 1px gray;
    color: #1E1E1E;
}

.app-buttonSearch:active {
    background-color: white;
    border: solid 1px #1E1E1E;
    color: #1E1E1E;
}

.app-inputSearch {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 0;
    margin: 0;
    border:solid 1px #1E1E1E;
}
.noSelection{
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select:none;
}