.chartAndTable {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.app-form {
    padding: 2px;
    display: flex;
    justify-content: center;
}

.app-buttonSearch {
    background-color: #FE7800;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    border: solid 1px black;
    color: white;
}

.app-buttonSearch:hover {
    background-color: #FE7800;
    border: solid 1px gray;
    color: black;
}

.app-buttonSearch:active {
    background-color: white;
    border: solid 1px black;
    color: black;
}

.app-inputSearch {
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}